.categorie-list{
    background-color: #F9F5F2;
}
#content-categories{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    padding-block: 20px;
}
#categorie-dishes-header figure{
    width: 100%;
    height: 300px;
    overflow: hidden;
}
#categorie-dishes-header img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}