.categorie-list {
  background-color: #f9f5f2;
}

#content-categories {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  padding-block: 20px;
}

.category figure {
  width: 100%;
  height: 100px;
  overflow: hidden;
}

.category img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.category-wrapper {
  align-items: center;
}

figure.caregory-icon {
  width: 60px;
  height: 60px;
  top: 20px;
  position: relative;
}

figure.caregory-icon img {
  object-fit: contain;
}

.category-name-bg {
  background-color: var(--main-color);
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: clamp(32px, 3vw, 40px);
  padding-block: 14px;
}

@media (min-width: 678px) {
  .category-wrapper {
    flex-direction: row;
    position: relative;
  }

  figure.caregory-icon {
    width: 90px;
    height: 90px;
    top: inherit;
    left: 40px;
    position: absolute;
  }

  .category-name-bg {
    text-align: left;
    padding-left: 140px;
    padding-top: 0;
    padding-bottom: 5px;
  }
}

@media (min-width: 1024px) {
  figure.caregory-icon {
    left: 100px;
  }

  .category-name-bg {
    padding-left: 200px;
  }
}